::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: thin solid #808080;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  border: thin solid #666;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  font-family: Consolas, Monospace;
}

body .checklist {
  list-style: none;
  padding: 0 0 0 20px;
}

body .checklist li input {
  vertical-align: middle;
}

body img {
  max-height: 250px;
  padding: 10px;
}

body a {
  text-decoration: none;
}

body header {
  height: 40px;
  padding: 16px;
  width: -webkit-calc(100vw - (16px * 2));
  width: calc(100vw - (16px * 2));
  position: fixed;
  z-index: 50;
  display: grid;
}

body header h1 {
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
}

body #Wrapper {
  padding: 16px;
  width: -webkit-calc(100vw - (16px * 2));
  width: calc(100vw - (16px * 2));
  margin-top: -webkit-calc(40px + (16px * 2));
  margin-top: calc(40px + (16px * 2));
  display: grid;
  grid-template-columns: 100%;
}

body #Wrapper .codehilite {
  overflow-x: auto;
  padding: 10px;
}

body #Wrapper .codehilite pre {
  margin: 0;
}

body #Wrapper hr {
  width: 100%;
}

body #Wrapper blockquote, body #Wrapper .codehilite, body #Wrapper .codehilitetable {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

body #Wrapper ol, body #Wrapper ul, body #Wrapper blockquote, body #Wrapper p, body #Wrapper pre, body #Wrapper pre span, body #Wrapper code, body #Wrapper .codehilite, body #Wrapper .codehilitetable, body #Wrapper li {
  font-size: small !important;
}

body {
  color: #D4D4D4;
  background-color: #2F2F2F;
}

body img {
  border-left: 3px solid #FF3F3F;
}

body a {
  color: #FF3F3F;
}

body a:hover {
  color: #D4D4D4;
}

body header {
  -webkit-box-shadow: 0px -2px 20px 0px #3f3f3f;
          box-shadow: 0px -2px 20px 0px #3f3f3f;
  background-color: #1F1F1F;
  color: #D4D4D4;
  border-bottom: 3px solid #FF3F3F;
}

body #Wrapper hr {
  border-color: #FF3F3F;
}

body #Wrapper .codehilite {
  background: #202020;
  color: #d0d0d0;
}

body #Wrapper .codehilite .hll {
  background-color: #404040;
}

body #Wrapper .codehilite .c {
  color: #999999;
  font-style: italic;
}

body #Wrapper .codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}

body #Wrapper .codehilite .esc {
  color: #d0d0d0;
}

body #Wrapper .codehilite .g {
  color: #d0d0d0;
}

body #Wrapper .codehilite .k {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .l {
  color: #d0d0d0;
}

body #Wrapper .codehilite .n {
  color: #d0d0d0;
}

body #Wrapper .codehilite .o {
  color: #d0d0d0;
}

body #Wrapper .codehilite .x {
  color: #d0d0d0;
}

body #Wrapper .codehilite .p {
  color: #d0d0d0;
}

body #Wrapper .codehilite .ch {
  color: #999999;
  font-style: italic;
}

body #Wrapper .codehilite .cm {
  color: #999999;
  font-style: italic;
}

body #Wrapper .codehilite .cp {
  color: #cd2828;
  font-weight: bold;
}

body #Wrapper .codehilite .cpf {
  color: #999999;
  font-style: italic;
}

body #Wrapper .codehilite .c1 {
  color: #999999;
  font-style: italic;
}

body #Wrapper .codehilite .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}

body #Wrapper .codehilite .gd {
  color: #d22323;
}

body #Wrapper .codehilite .ge {
  color: #d0d0d0;
  font-style: italic;
}

body #Wrapper .codehilite .gr {
  color: #d22323;
}

body #Wrapper .codehilite .gh {
  color: #ffffff;
  font-weight: bold;
}

body #Wrapper .codehilite .gi {
  color: #589819;
}

body #Wrapper .codehilite .go {
  color: #cccccc;
}

body #Wrapper .codehilite .gp {
  color: #aaaaaa;
}

body #Wrapper .codehilite .gs {
  color: #d0d0d0;
  font-weight: bold;
}

body #Wrapper .codehilite .gu {
  color: #ffffff;
  text-decoration: underline;
}

body #Wrapper .codehilite .gt {
  color: #d22323;
}

body #Wrapper .codehilite .kc {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .kd {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .kn {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .kp {
  color: #6ab825;
}

body #Wrapper .codehilite .kr {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .kt {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .ld {
  color: #d0d0d0;
}

body #Wrapper .codehilite .m {
  color: #3677a9;
}

body #Wrapper .codehilite .s {
  color: #ed9d13;
}

body #Wrapper .codehilite .na {
  color: #bbbbbb;
}

body #Wrapper .codehilite .nb {
  color: #24909d;
}

body #Wrapper .codehilite .nc {
  color: #447fcf;
  text-decoration: underline;
}

body #Wrapper .codehilite .no {
  color: #40ffff;
}

body #Wrapper .codehilite .nd {
  color: #ffa500;
}

body #Wrapper .codehilite .ni {
  color: #d0d0d0;
}

body #Wrapper .codehilite .ne {
  color: #bbbbbb;
}

body #Wrapper .codehilite .nf {
  color: #447fcf;
}

body #Wrapper .codehilite .nl {
  color: #d0d0d0;
}

body #Wrapper .codehilite .nn {
  color: #447fcf;
  text-decoration: underline;
}

body #Wrapper .codehilite .nx {
  color: #d0d0d0;
}

body #Wrapper .codehilite .py {
  color: #d0d0d0;
}

body #Wrapper .codehilite .nt {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .nv {
  color: #40ffff;
}

body #Wrapper .codehilite .ow {
  color: #6ab825;
  font-weight: bold;
}

body #Wrapper .codehilite .w {
  color: #666666;
}

body #Wrapper .codehilite .mb {
  color: #3677a9;
}

body #Wrapper .codehilite .mf {
  color: #3677a9;
}

body #Wrapper .codehilite .mh {
  color: #3677a9;
}

body #Wrapper .codehilite .mi {
  color: #3677a9;
}

body #Wrapper .codehilite .mo {
  color: #3677a9;
}

body #Wrapper .codehilite .sa {
  color: #ed9d13;
}

body #Wrapper .codehilite .sb {
  color: #ed9d13;
}

body #Wrapper .codehilite .sc {
  color: #ed9d13;
}

body #Wrapper .codehilite .dl {
  color: #ed9d13;
}

body #Wrapper .codehilite .sd {
  color: #ed9d13;
}

body #Wrapper .codehilite .s2 {
  color: #ed9d13;
}

body #Wrapper .codehilite .se {
  color: #ed9d13;
}

body #Wrapper .codehilite .sh {
  color: #ed9d13;
}

body #Wrapper .codehilite .si {
  color: #ed9d13;
}

body #Wrapper .codehilite .sx {
  color: #ffa500;
}

body #Wrapper .codehilite .sr {
  color: #ed9d13;
}

body #Wrapper .codehilite .s1 {
  color: #ed9d13;
}

body #Wrapper .codehilite .ss {
  color: #ed9d13;
}

body #Wrapper .codehilite .bp {
  color: #24909d;
}

body #Wrapper .codehilite .fm {
  color: #447fcf;
}

body #Wrapper .codehilite .vc {
  color: #40ffff;
}

body #Wrapper .codehilite .vg {
  color: #40ffff;
}

body #Wrapper .codehilite .vi {
  color: #40ffff;
}

body #Wrapper .codehilite .vm {
  color: #40ffff;
}

body #Wrapper .codehilite .il {
  color: #3677a9;
}
/*# sourceMappingURL=Dark.css.map */