html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: consolas, monospace, Courier New, Courier;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px;
}

body img {
    max-height: 250px;
}

body hr {
    border-color: #6f6f6f;
}

body a {
    color: #aaa;
    text-decoration: none;
}

body a:hover {
    color: #fff;
}

body ol,
body ul,
body blockquote,
body p {
    font-size: small;
}

body blockquote {
    padding: 1px 10px;
    background-color: rgba(70, 70, 70, 0.4);
    border-left: 3px solid red;
    margin: 10px;
    overflow: hidden;
}

body .codehilite {
    overflow-x: auto;
}

body .codehilite,
body .codehilitetable,
body blockquote {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

body .codehilite,
body .codehilitetable {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
}

body .codehilite pre,
body .codehilitetable pre {
    margin: 0;
}

body .codehilite .linenos,
body .codehilitetable .linenos {
    padding: 0 10px 0 0;
}

body .codehilitetable .codehilite {
    background-color: initial;
    padding: 0;
    margin: 0;
    width: initial;
}
