body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  font-family: Consolas, Monospace;
}

body ol, body ul, body blockquote, body p {
  font-size: small;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: thin solid #808080;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  border: thin solid #666;
}

header {
  height: 40px;
  padding: 16px;
  width: -webkit-calc(100vw - (16px * 2));
  width: calc(100vw - (16px * 2));
  position: fixed;
  z-index: 50;
  display: grid;
}

header h1 {
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
}

#Wrapper {
  padding: 16px;
  width: -webkit-calc(100vw - (16px * 2));
  width: calc(100vw - (16px * 2));
  margin-top: -webkit-calc(40px + (16px * 2));
  margin-top: calc(40px + (16px * 2));
  display: grid;
  grid-template-columns: 100%;
}

.codehilite {
  overflow-x: auto;
  padding: 10px;
  font-size: small;
}

.codehilite pre {
  margin: 0;
  font-size: small;
}

.codehilite pre span {
  font-size: small;
}

.codehilitetable {
  font-size: small;
}

.codehilitetable .linenos {
  padding: 0 10px 0 0;
}

body {
  color: #D4D4D4;
  background-color: #2F2F2F;
}

header {
  -webkit-box-shadow: 0px -2px 20px 0px #3f3f3f;
          box-shadow: 0px -2px 20px 0px #3f3f3f;
  background-color: #212121;
}

.codehilite {
  background: #202020;
  color: #d0d0d0;
}

.codehilite .hll {
  background-color: #404040;
}

.codehilite .c {
  color: #999999;
  font-style: italic;
}

.codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.codehilite .esc {
  color: #d0d0d0;
}

.codehilite .g {
  color: #d0d0d0;
}

.codehilite .k {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .l {
  color: #d0d0d0;
}

.codehilite .n {
  color: #d0d0d0;
}

.codehilite .o {
  color: #d0d0d0;
}

.codehilite .x {
  color: #d0d0d0;
}

.codehilite .p {
  color: #d0d0d0;
}

.codehilite .ch {
  color: #999999;
  font-style: italic;
}

.codehilite .cm {
  color: #999999;
  font-style: italic;
}

.codehilite .cp {
  color: #cd2828;
  font-weight: bold;
}

.codehilite .cpf {
  color: #999999;
  font-style: italic;
}

.codehilite .c1 {
  color: #999999;
  font-style: italic;
}

.codehilite .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}

.codehilite .gd {
  color: #d22323;
}

.codehilite .ge {
  color: #d0d0d0;
  font-style: italic;
}

.codehilite .gr {
  color: #d22323;
}

.codehilite .gh {
  color: #ffffff;
  font-weight: bold;
}

.codehilite .gi {
  color: #589819;
}

.codehilite .go {
  color: #cccccc;
}

.codehilite .gp {
  color: #aaaaaa;
}

.codehilite .gs {
  color: #d0d0d0;
  font-weight: bold;
}

.codehilite .gu {
  color: #ffffff;
  text-decoration: underline;
}

.codehilite .gt {
  color: #d22323;
}

.codehilite .kc {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .kd {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .kn {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .kp {
  color: #6ab825;
}

.codehilite .kr {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .kt {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .ld {
  color: #d0d0d0;
}

.codehilite .m {
  color: #3677a9;
}

.codehilite .s {
  color: #ed9d13;
}

.codehilite .na {
  color: #bbbbbb;
}

.codehilite .nb {
  color: #24909d;
}

.codehilite .nc {
  color: #447fcf;
  text-decoration: underline;
}

.codehilite .no {
  color: #40ffff;
}

.codehilite .nd {
  color: #ffa500;
}

.codehilite .ni {
  color: #d0d0d0;
}

.codehilite .ne {
  color: #bbbbbb;
}

.codehilite .nf {
  color: #447fcf;
}

.codehilite .nl {
  color: #d0d0d0;
}

.codehilite .nn {
  color: #447fcf;
  text-decoration: underline;
}

.codehilite .nx {
  color: #d0d0d0;
}

.codehilite .py {
  color: #d0d0d0;
}

.codehilite .nt {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .nv {
  color: #40ffff;
}

.codehilite .ow {
  color: #6ab825;
  font-weight: bold;
}

.codehilite .w {
  color: #666666;
}

.codehilite .mb {
  color: #3677a9;
}

.codehilite .mf {
  color: #3677a9;
}

.codehilite .mh {
  color: #3677a9;
}

.codehilite .mi {
  color: #3677a9;
}

.codehilite .mo {
  color: #3677a9;
}

.codehilite .sa {
  color: #ed9d13;
}

.codehilite .sb {
  color: #ed9d13;
}

.codehilite .sc {
  color: #ed9d13;
}

.codehilite .dl {
  color: #ed9d13;
}

.codehilite .sd {
  color: #ed9d13;
}

.codehilite .s2 {
  color: #ed9d13;
}

.codehilite .se {
  color: #ed9d13;
}

.codehilite .sh {
  color: #ed9d13;
}

.codehilite .si {
  color: #ed9d13;
}

.codehilite .sx {
  color: #ffa500;
}

.codehilite .sr {
  color: #ed9d13;
}

.codehilite .s1 {
  color: #ed9d13;
}

.codehilite .ss {
  color: #ed9d13;
}

.codehilite .bp {
  color: #24909d;
}

.codehilite .fm {
  color: #447fcf;
}

.codehilite .vc {
  color: #40ffff;
}

.codehilite .vg {
  color: #40ffff;
}

.codehilite .vi {
  color: #40ffff;
}

.codehilite .vm {
  color: #40ffff;
}

.codehilite .il {
  color: #3677a9;
}
/*# sourceMappingURL=MaterialDark.css.map */