::-webkit-scrollbar
    height: 4px
    width: 4px

::-webkit-scrollbar-button
    height: 0px
    width: 0px

::-webkit-scrollbar-track
    background: rgba(0, 0, 0, 0.2)
    border-radius: 10px

::-webkit-scrollbar-thumb
    background: #888
    border: thin solid #808080
    border-radius: 10px

::-webkit-scrollbar-thumb:hover
    background: #666
    border: thin solid #666
html, body
    margin: 0
    padding: 0
body
    width: $DocWidth
    overflow-x: hidden
    display: grid
    font-family: $DefaultFont
    .checklist
        list-style: none
        padding: 0 0 0 20px
        li input
                vertical-align: middle
    img
        max-height: 250px
        padding: 10px
    a
        text-decoration: none
    header
        height: $HeaderHeight
        padding: $DocPadding
        width: calc(#{$DocWidth} - (#{$DocPadding} * 2))
        position: fixed
        z-index: 50
        display: grid
        h1
            margin: 0
            line-height: $HeaderHeight
            vertical-align: middle
    #Wrapper
        padding: $DocPadding
        width: calc(#{$DocWidth} - (#{$DocPadding} * 2))
        margin-top: calc(#{$HeaderHeight} + (#{$DocPadding} * 2))
        display: grid
        grid-template-columns: 100%
        code
            color: $CodeColour
            padding: 3px 7px
            border-radius: 3px
        .codehilite
            overflow-x: auto
            padding: 10px
            margin: 10px
            pre
                margin: 0
        hr
            width: 100%
        p
            line-height: 1.4
        blockquote
            padding: 0 10px
            margin: 10px
            overflow: hidden
        blockquote, .codehilite
            width: fill-available
            border-radius: 3px
        // ol, ul, blockquote, p, pre, pre span, code, .codehilite, li
        //     font-size: small !important
