*
    font-family: $DefaultFont
    font-size: 9pt !important
body
    width: $DocWidth
    overflow-x: hidden
    margin: 0
    padding: 0
    display: grid
    ol, ul, blockquote, p, pre, pre span, code, .codehilite, .codehilitetable
        font-size: 9pt !important

::-webkit-scrollbar
    height: 4px
    width: 4px

::-webkit-scrollbar-button
    height: 0px
    width: 0px

::-webkit-scrollbar-track
    background: rgba(0, 0, 0, 0.2)
    border-radius: 10px

::-webkit-scrollbar-thumb
    background: #888
    border: thin solid #808080
    border-radius: 10px

::-webkit-scrollbar-thumb:hover
    background: #666
    border: thin solid #666

header
    height: $HeaderHeight
    padding: $DocPadding
    width: calc(#{$DocWidth} - (#{$DocPadding} * 2))
    position: fixed
    z-index: 50
    display: grid
    h1
        margin: 0
        line-height: $HeaderHeight
        vertical-align: middle

#Wrapper
    padding: $DocPadding
    width: calc(#{$DocWidth} - (#{$DocPadding} * 2))
    margin-top: calc(#{$HeaderHeight} + (#{$DocPadding} * 2))
    display: grid
    grid-template-columns: 100%

.codehilite
    overflow-x: auto
    padding: 10px
    pre
        margin: 0
.codehilitetable
    .linenos
        padding: 0 10px 0 0
