$DefaultFont: 'Roboto', 'Consolas', 'Monospace'
$HeaderHeight: 40px
$DocWidth: 100vw
$DocPadding: 16px

$LightHeadingBackColour: #FFF
$LightBodyBackColour: #FAFAFA
$LightPopupBackColour: #FFF

$DarkHeadingBackColour: #212121
$DarkForeColour: #D4D4D4
$DarkBodyBackColour: #2F2F2F
$DarkPopupBackColour: #424242

$ColourfulHeadingBackColour: #673AB7
$ColourfulHeadingForeColour: #E7E2F1
$LightBodyBackColour: #FAFAFA
$LightPopupBackColour: #FFF
