$DefaultFont: Consolas, Monospace
$HeaderHeight: 40px
$DocWidth: 100vw
$DocPadding: 16px

$DarkAccentColour: #FF3F3F
$DarkHeadingBackColour: #1F1F1F
$DarkForeColour: #D4D4D4
$DarkHeadingForeColour: $DarkForeColour
$DarkAnchorColour: $DarkAccentColour
$DarkAnchorHoverColour: $DarkForeColour
$DarkBodyBackColour: #2F2F2F
$DarkPopupBackColour: #424242

$LightAccentColour: #673AB7
$LightHeadingBackColour: $LightAccentColour
$LightHeadingForeColour: #FFF
$LightForeColour: #1F1F1F
$LightBodyBackColour: #FAFAFA
$LightPopupBackColour: #FFF
$LightAnchorColour: $LightAccentColour
$LightAnchorHoverColour: $LightForeColour

//#a16cff
//#bd4444
//#ff3f3f
