html, body
    margin: 0
    padding: 0

body
    font-family: consolas, monospace, Courier New, Courier
    background-color: #1F1F1F
    color: #DDD
    padding: 10px

.codehilite, .codehilitetable
    background-color: rgba(0, 0, 0, 0.30)
    padding: 10px
    margin: 10px
    .linenos
        padding: 0 10px 0 0

.codehilitetable .codehilite
    background-color: initial
    padding: 0
    margin: 0
